@page
@model WebApplication2.NewFolder.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "srgtrsgt";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentEntity[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEntity[0].Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEntity[0].Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEntity[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEntity[0].IdentityNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEntity[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEntity[0].Sr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEntity[0].Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StudentEntity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
